body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	background-color: #CFE9E7;
}

h2 {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h6 {
	background-color: #44938E;

}
#title {
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
	font-weight: bold;
	font-variant: small-caps;
	background-color: #44938E;
}
form {
	background-color: #CFE9E7;

}
td {
	border-style: inset;
	padding: 5px;
	background-color: #FFFFFF;
	text-align: center;
}
#Whole {
	background-color: #CFE9E7;
}
